<div class="container">
  <table
    mat-table
    [dataSource]="filteredItems"
    class="mat-elevation-z8 container-item"
  >
    <ng-container matColumnDef="ContainerNumber">
      <th mat-header-cell *matHeaderCellDef>Container Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ContainerNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Size">
      <th mat-header-cell *matHeaderCellDef>Size</th>
      <td mat-cell *matCellDef="let element">{{ element.Size }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <form class="form container-item">
    <mat-form-field class="full-width">
      <mat-label>Container Number</mat-label>
      <input matInput (keyup)="containerNumberValueChange($event)" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Size</mat-label>
      <mat-select (selectionChange)="sizeChange($event)">
        <mat-option value=""></mat-option>
        <mat-option value="20">20</mat-option>
        <mat-option value="40">40</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
