<mat-grid-list cols="4" rows="2">
  <mat-grid-tile colspan="2" rowspan="2" style.background="lightblue"
    ><table mat-table [dataSource]="items" class="mat-elevation-z8">
      <ng-container matColumnDef="ContainerNumber">
        <th mat-header-cell *matHeaderCellDef>Container Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ContainerNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let element">{{ element.Size }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <form class="form">
      <mat-form-field class="full-width">
        <mat-label>Container Number</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Size</mat-label>
        <mat-select>
          <mat-option value="Volvo">Volvo </mat-option>
          <mat-option value="Saab">Saab </mat-option>
          <mat-option value="Mercedes">Mercedes </mat-option>
          <mat-option value="Audi">Audi </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>
